.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;

  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 500px) {
    flex-direction: column;

   }
}
.footer-name {
  display: flex;
  flex-direction: column;
}


.footer-year{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts {
  display: flex;
  flex-direction: column;
}
