html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.swiper-slide.img-slide {
  height: 200px;
  & img {
    height: 100%;
    object-fit: cover;
  }
}
