.offer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: space-between;
  &-text {
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  &-img {
    width: 30%;
    display: flex;
    & img {
      display: block;
    }
  }
  background-color: $primaryColor;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
}

.scale-img-92{
  transform: scale(0.85);
}

.scale-img-98 {
  transform: scale(1.2);
}
