.price {
  background-color: $primaryColor;
  padding: 1rem;

}

table {
  background-color: $primaryColor;

  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;

}


tbody td {
  padding-top: 15px;
  text-align: center;
}


tfoot {
  margin-top: 30px;
}
