.price {
  background-color: $primaryColor;
  padding: 2rem;
}

table {
  padding-bottom: 25px;
  background-color: $primaryColor;
  width: 100%;
  border-collapse: collapse;
}

tbody td {
  padding-top: 15px;
  text-align: center;
}

.table-footer-title{
  text-align: center;
  width: 100%;
  padding-top: 15px;
}

.table-footer{
  text-align: center;
  width: 100%;
}
